.footer {
    position: sticky;
    height: 100px;
    width: auto;
    background-color: #e0dada;
}

.footer-h3 {
    margin-top: 100px;
    padding-top: 20px;
    font-weight: 100;
    text-decoration: none;
    color: #000000;
    bottom: 0;
}

.footer-h3:hover {
    color:#004494;
    cursor: pointer;
}