@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    background-color: #e6e0e0;
    font-family:"Roboto Condensed", sans-serif;
    font-size: 100%;
    color: #333;
    text-align: left;
}

body, p {
    line-height: 1.6;
}

h1, h2, h3 {
    font-weight: bold;
    text-align: center;
}

h1, h2, h3, p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    max-width: 60ch;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    justify-content: center;
}

.landing-header-h1 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.landing-img {
    width: 100%;
    max-width: 1200px; 
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 20px;
}

.landing-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-purpose {
    text-align: center;
    margin-left: 240px;
}

.landing-signup-link, .landing-signup-link:visited {
    color: #34343a;
    text-decoration: none;
}

.landing-signup-link:hover, .landing-signup-link:active {
    color: blue;
    text-decoration: underline;
}

.landing-features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: #f0e9e9;
    margin-top: 20px;
}

.landing-features-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #f0e9e9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.landing-features-h3 {
    margin-right: 200px;
    margin-bottom: 100px;
    padding-left: 30px;
    width: 100%;
}

.landing-features-item-p {
    flex-grow: 1;
}

.landing-section-hero-text {
    margin-left: 100px;
}

.landing-purpose-container {
    display: flex;
    flex-direction: column;
}

.landing-purpose {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 40px;
}


.landing-purpose-h3 {
    margin-top: 50px;
    padding-bottom: 30px;
}


@media (max-width: 768px) {
    .landing-header-h1 {
        font-size: 24px; 
    }
    .landing-img {
        max-width: 100%;
        margin-top: 10px;
    }
    .landing-main p, .landing-main h3 {
        padding: 0 15px; 
    }

    body {
        font-size: 1.125rem;
    }
}

/* @media (max-width:1500px) {
    .landing-purpose {
        max-width: 100%;
        margin-right: 400px;
        margin-left: 100px;
        font-weight: 100;
        font-size: 16px;
    }
} */