.vehicle-form-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.vehicle-form-header-h1 {
    position: absolute;
    top: 0;
    margin-top: 120px;
    color: whitesmoke;
    margin-left: 120px;
}

.vehicle-form {
     background: whitesmoke;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 8px;
     width: 90%;
     margin-top: 100px;
     max-width: 500px;
     box-sizing: border-box;
}

.vehicle-form-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
}

.vehicle-form-btn-container {
    display: flex;
    justify-content: space-between;
    padding: auto;
}

.vehicle-form-btn {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #0056b3;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.vehicle-form-btn:hover {
    background-color: #004494;
}

.danger {
    background-color: #b30000;
}

.danger:hover {
    background-color: #910101;
}